<!doctype html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form</title>
</head>
<body>
    <h1>새 질문 만들기</h1>
    <form action="/questions" method="post">
        <div>
            <label for="title">질문</label><br>
            <input type="text" id="title" placeholder="짜장면 vs 짬뽕?" required="" name="title" value="">
        </div>
        <br>
        <div>
            <label for="optionA">선택지 A</label><br>
            <input type="text" id="optionA" placeholder="짜장면" required="" name="optionA" value="">
        </div>
        <br>
        <div>
            <label for="optionB">선택지 B</label><br>
            <input type="text" id="optionB" placeholder="짬뽕" required="" name="optionB" value="">
        </div>
        <br>
        <button type="submit">질문 등록</button>
    </form>
    <br>
    <a href="/questions">목록으로</a>

</body>
</html>