<!doctype html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
</head>
    <body>
    <h1>Either - A vs B</h1>

    <a href="/questions/new">새 질문 만들기</a>

    <hr>

    <table border="1">
        <thead>
        <!-- tr>th*3 입력 후 tab -->
        <tr>
            <th>ID</th>
            <th>질문</th>
            <th>보기</th>
        </tr>
        </thead>
        <tbody>
        <!-- tr>td*3 입력 후 tab -->
        <tr th:each="question : ${questions}">
            <td th:text="${question.id}"></td>
            <td th:text="${question.title}"></td>
            <td>
                <a th:href="@{/questions/{id}(id=${question.id})}">상세보기</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 플래시 메시지 -->
    <div style="color: green;">
        <p>질문이 등록되었습니다.</p>
    </div>

    </body>
</html>